.dark-blue {
    background-color: #1d367a;
}

.dark-blue-text {
    color: #1d367a;
}
.grey {
    color:grey;
}

.gold {
    background-color: #c6aa23;
}

.gold_border {
    border-color: #c6aa23;
}

.light_grey {
    background-color: #efefef;
}