body {
    background-image: url("https://wallpaperaccess.com/full/1126865.jpg");
    background-size: cover;
    opacity: 0.9;
    background-attachment: fixed;
    overflow: scroll;
  }

  .form-check-input:checked[type="checkbox"] {
    background-color: #1d367a;
  }

  .not_show {
    display: none;
  }

  .btn:hover {
    color: #c6aa23;
    background-color: #1d367a;
    border-color: #1d367a;
  }

  @media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
    }
  }