<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<head>
  <div th:replace="headerFragment :: headerFragment"></div>
  <title>Create painting/sculpture content | Clap</title>
<link rel="shortcut icon" th:href="@{/img/lira_logo.png}">
</head>
<body>
  <div th:replace="navbarFragment :: navbarFragment"> </div>
  <br>
  <div class="d-flex justify-content-center" style="margin-top: 100px;">
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card h-100">
        <img th:src="@{/img/categories/paintOrSculpture.png}" class="card-img-top" alt="..." width="180" height="190">
      </div>
    </div>
  </div>
  <section class="h-100 py-5 h-custom">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3 container">
            <div class="d-flex justify-content-center" style="margin-top:60px ;">
              <a class="navbar-brand" href="/"><img th:src="@{/img/clap_logo_horizontal.png}" width="300"
                  height="85"></a>
            </div>
            <h2 class="d-flex justify-content-center dark-blue-text">Upload new painting/sculpture content</h2>
            <hr style="height:2px;border-width:0;" class="grey">
            <div class="card-body p-4 p-md-5">
              <form class="px-md-2" method="POST" data-th-action="@{/create_painting_or_sculpture_content}"
                data-th-object="${paintingOrSculptureUploadData}" enctype="multipart/form-data">
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                  <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>
                <div class="form-outline mb-4">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="form-label" for="title">Title</label>
                    </div>
                    <div class="col-md-9">
                      <input type="text" id="title" class="form-control" th:field=*{title}
                      placeholder="Title" />
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="form-label" for="description">Description</label>
                    </div>
                    <div class="col-md-9">
                      <textarea type="text" id="description" class="form-control" th:field=*{description}
                      placeholder="Description" ></textarea>
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="form-label" for="materials">Materials</label>
                    </div>
                    <div class="col-md-9">
                      <input type="text" id="materials" class="form-control" th:field=*{materials}
                      placeholder="Materials used in the creation" />
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="form-label" for="techniques">Techniques</label>
                    </div>
                    <div class="col-md-9">
                      <input type="text" id="techniques" class="form-control" th:field=*{techniques}
                      placeholder="Techniques used in the creation"/>
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="form-label" for="size">Size</label>
                    </div>
                    <div class="col-md-9">
                      <input type="text" id="size" class="form-control" th:field=*{size}
                      placeholder="Size" />
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="form-label" for="place">Place</label>
                    </div>
                    <div class="col-md-9">
                      <input type="text" id="place" class="form-control" h:field=*{place}
                      placeholder="Actual place of the work" />
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="form-label" for="file">Painting or sculpture content</label>
                    </div>
                    <div class="col-md-9">
                      <input type="file" id="file" name="file" class="form-control" accept="file/png, file/jpeg"/>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center row">
                  <div class="col-md-5 d-flex justify-content-center row">
                    <button type="submit" class="btn btn-lg mb-1 gold dark-blue-text">Upload content</button>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-5 d-flex justify-content-center row">
                    <a type="submit" class="btn btn-lg mb-1  gold dark-blue-text" th:href="@{/choose_category.html}">
                      Cancel</a>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>