<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<head>
  <div th:replace="headerFragment :: headerFragment"></div>
  <title>Landing page | Clap</title>
  <link rel="shortcut icon" th:href="@{/img/lira_logo.png}">
</head>
<body>
  <section class="h-100 h-custom">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3 container">
            <div class="d-flex justify-content-center" style="margin-top:20px ;">
              <a class="navbar-brand" href="/"><img th:src="@{/img/clap_logo_horizontal.png}" width="300"
                  height="85"></a>
            </div>
            <h2 class="d-flex justify-content-center dark-blue-text">Welcome to Clap!</h2>
            <p class="small text-muted mb-1 d-flex justify-content-center">Not yet registered?</p>
            <p class="small text-muted mb-1 d-flex justify-content-center"> Register as <a
                style="margin-left: 4px; margin-right: 4px;" type="button" th:href="@{/register_content_creator.html}">
                content creator
              </a> or as
              <a style="margin-left: 2px;" type="button" th:href="@{/register_company.html}">
                company
              </a>
            </p>
            <p class="small text-muted mb-1 d-flex justify-content-center" style="margin-top: 15px;">Log in?
              <a style="margin-left: 2px; margin-right: 2px;" type="button" th:href="@{/login.html}">
                Sign up
              </a>
            </p>
            <hr style="height:2px;border-width:0;" class="grey">
            <div class="card-body p-4 p-md-5">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      class="img-fluid rounded-start" alt="...">
                    <h6 class="d-flex justify-content-center" style="margin-top: 5px;">@username1</h6>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural
                        lead-in to additional content. This content is a little bit longer.</p>
                      <div class="row">
                        <p class="card-text col-md-8"><small class="text-muted">Category : general</small></p>
                        <p class="card-text col-md-4"><small class="text-muted">400 views</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              </div>
              <br>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      class="img-fluid rounded-start" alt="...">
                    <h6 class="d-flex justify-content-center" style="margin-top: 5px;">@username1</h6>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural
                        lead-in to additional content. This content is a little bit longer.</p>
                      <div class="row">
                        <p class="card-text col-md-8"><small class="text-muted">Category : cinema</small></p>
                        <p class="card-text col-md-4"><small class="text-muted">400 views</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              </div>
              <br>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      class="img-fluid rounded-start" alt="...">
                    <h6 class="d-flex justify-content-center" style="margin-top: 5px;">@username1</h6>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural
                        lead-in to additional content. This content is a little bit longer.</p>
                      <div class="row">
                        <p class="card-text col-md-8"><small class="text-muted">Category : dance</small></p>
                        <p class="card-text col-md-4"><small class="text-muted">400 views</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

</body>

</html>