<!DOCTYPE html>
<html>

<head>
  <div th:replace="headerFragment :: headerFragment"></div>
  <title>Profile | Clap</title>
  <link rel="shortcut icon" th:href="@{/img/lira_logo.png}">
</head>

<body>
  <div th:replace="navbarFragment :: navbarFragment"> </div>
  <section class="h-100 py-5 h-custom">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="rounded-3 container">
            <section class="vh-100">
              <div class="container h-100">
                <div class="row d-flex justify-content-center h-100">
                  <div class="card">
                    <div class="card-body p-4">
                      <div class="d-flex justify-content-center" style="margin-top:50px;">
                        <img class="rounded-circle shadow-1-strong me-3"
                          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                          alt="avatar" width="200" height="200" />
                      </div>
                      <br>
                      <span th:if="${type == 'CONTENT_CREATOR'}">
                        <h6 class="d-flex justify-content-center"><span
                            data-th-text="${userProfileData.getContentCreator().getFullName()}"></span></h6>
                        <h6 class="d-flex justify-content-center">@<span
                            data-th-text="${userProfileData.getContentCreator().getUsername()}"></span></h6>
                        <br>
                        <div class="row rounded-3 p-2 mb-2 light_grey">
                          <div class="col-md-6">
                            <h6 class="d-flex justify-content-center"><svg style="margin-right: 10px;"
                                xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-telephone" viewBox="0 0 16 16">
                                <path
                                  d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                              </svg> <span data-th-text="${userProfileData.getContentCreator().getPhone()}"></span></h6>
                            <h6 class="d-flex justify-content-center"><svg style="margin-right: 10px;"
                                xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-envelope" viewBox="0 0 16 16">
                                <path
                                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                              </svg> <span data-th-text="${userProfileData.getContentCreator().getEmail()}"></span></h6>
                          </div>
                          <div class="col-md-6">
                            <h6 class="d-flex justify-content-center">
                              <svg style="margin-right: 10px;" xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path
                                  d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                              </svg> <span data-th-text="${userProfileData.getContentCreator().getCity()}"></span>
                              <p>,</p>
                              <span data-th-text="${userProfileData.getContentCreator().getCountry()}"></span>
                            </h6>
                          </div>
                        </div>
                      </span>
                      <br>
                      <span th:if="${type == 'COMPANY'}">
                        <h6 class="d-flex justify-content-center"><span
                            data-th-text="${userProfileData.getCompany().getCompanyName()}"></span></h6>
                        <h6 class="d-flex justify-content-center">@<span
                            data-th-text="${userProfileData.getCompany().getUsername()}"></span></h6>
                        <br>
                        <div class="row rounded-3 p-2 mb-2 light_grey">
                          <div class="col-md-6">
                            <h6 class="d-flex justify-content-center"><svg style="margin-right: 10px;"
                                xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-telephone" viewBox="0 0 16 16">
                                <path
                                  d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                              </svg> <span data-th-text="${userProfileData.getCompany().getPhone()}"></span></h6>
                            <h6 class="d-flex justify-content-center"><svg style="margin-right: 10px;"
                                xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-envelope" viewBox="0 0 16 16">
                                <path
                                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                              </svg> <span data-th-text="${userProfileData.getCompany().getEmail()}"></span></h6>
                          </div>
                          <div class="col-md-6">
                            <h6 class="d-flex justify-content-center">
                              <svg style="margin-right: 10px;" xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path
                                  d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                              </svg> <span data-th-text="${userProfileData.getCompany().getOfficeAddress()}"></span>
                            </h6>
                            <h6 class="d-flex justify-content-center">
                              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                style="margin-right: 10px;" class="bi bi-coin" viewBox="0 0 16 16">
                                <path
                                  d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z" />
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                  d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z" />
                              </svg> <span data-th-text="${userProfileData.getCompany().getTaxIdNumber()}"></span>
                            </h6>
                          </div>
                        </div>
                      </span>
                      <div class="rounded-3 p-2 mb-2 light_grey">
                        <div class="d-flex justify-content-center">
                          <div>
                            <p class="small text-muted mb-1">Posts</p>
                            <p class="mb-0 d-flex justify-content-center"><span
                                data-th-text="${userProfileData.getTotalPosts()}"></span></p>
                          </div>
                          <div class="px-3">
                            <p class="small text-muted mb-1">Followers</p>
                            <p class="mb-0 d-flex justify-content-center"><span
                                data-th-text="${userProfileData.getFollowerCount()}"></span></p>
                          </div>
                          <div>
                            <p class="small text-muted mb-1">Followed</p>
                            <p class="mb-0 d-flex justify-content-center"><span
                                data-th-text="${userProfileData.getFollowedCount()}"></span></p>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex pt-1 justify-content-center">
                        <span th:if="${type == 'CONTENT_CREATOR'}">
                          <button type="button"
                            class="btn btn-outline-primary me-1 flex-grow-1 gold dark-blue-text">Request contact
                            info</button>
                          <div th:unless="${self_profile}">
                            <div th:unless="${alreadySubscribed}" class="row">
                              <form method="POST" class="d-flex justify-content-center"
                                data-th-action="@{'/profile/' + ${userProfileData.getContentCreator().getId()} +'/subscription/'}">
                                <button type="submit"
                                  class="btn btn-primary flex-grow-1 gold dark-blue-text col-md-12" style="margin-top: 10px;">Follow</button>
                              </form>
                            </div>
                            <div th:if="${alreadySubscribed}" class="row">
                              <form method="POST" class="d-flex justify-content-center"
                                data-th-action="@{'/profile/' + ${userProfileData.getContentCreator().getId()} + '/unsubscription/'}">
                                <button type="submit"
                                  class="btn btn-primary flex-grow-1 gold dark-blue-text col-md-12" style="margin-top: 10px;">Unfollow</button>
                              </form>
                            </div>
                        </span>

                      </div>
                      <div th:if="${type == 'COMPANY'}">
                        <div th:unless="${self_profile}">
                          <span th:unless="${alreadySubscribed}">
                            <form method="POST" class="d-flex justify-content-center"
                              data-th-action="@{'/profile/' + ${userProfileData.getCompany().getId()} +'/subscription/'}">
                              <button type="submit"
                                class="btn btn-primary flex-grow-1 gold dark-blue-text" style="margin-top: 10px;">Follow</button>
                            </form>
                          </span>
                          <span th:if="${alreadySubscribed}">
                            <form method="POST" class="d-flex justify-content-center"
                              data-th-action="@{'/profile/' + ${userProfileData.getCompany().getId()} + '/unsubscription/'}">
                              <button type="submit"
                                class="btn btn-primary flex-grow-1 gold dark-blue-text" style="margin-top: 10px;">Unfollow</button>
                            </form>
                          </span>
                        </div>
                      </div>

                    </div>
                    <br>
                    <div>
                      <p class="small text-muted mb-1"><span data-th-text="PAtata"></span></p>
                    </div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                          data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
                          aria-selected="true">Posts</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                          data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane"
                          aria-selected="false">Tagged</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                          data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane"
                          aria-selected="false">Projects</button>
                      </li>
                    </ul>
                    <div th:switch="${type}">
                      <form th:case="${CONTENT_CREATOR}" id="contents"
                        data-th-action="@{'/profile/' + ${userProfileData.getContentCreator().getId()}}" method="POST"
                        data-th-object="${uploaded_contents}">
                        <form th:case="${COMPANY}" id="contents"
                          data-th-action="@{'/profile/' + ${userProfileData.getCompany().getId()}}" method="POST"
                          data-th-object="${uploaded_contents}">
                        </form>
                    </div>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                        aria-labelledby="home-tab" tabindex="0">
                        <br>
                        <span th:if="${uploaded_contents.isEmpty()}">
                          <div class="alert d-flex justify-content-center gold dark-blue-text" role="alert">
                            No content to display
                          </div>
                        </span>
                        <span th:unless="${uploaded_contents.isEmpty()}">
                          <div class="card mb-3" style="max-width: 540px;" th:each="content : ${uploaded_contents}">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img th:src="${content.owner.photoUrl}" class="img-fluid rounded-start" alt="...">
                                <h6 class="d-flex justify-content-center" style="margin-top: 5px;">@<span
                                    th:text="${content.owner.username}"></h6>
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title"><span th:text="${content.title}"></span></h5>
                                  <p class="card-text"><span th:text="${content.description}"></span></p>
                                  <div class="row">
                                    <p class="card-text col-md-8"><small class="text-muted">Category :
                                        <span th:text="${content.type}"></small></p>
                                    <p class="card-text col-md-4"><small class="text-muted"><span
                                          th:text="${content.viewCount}"></span> views</small></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </span>
                      </div>
                      </form>
                      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                        tabindex="0">
                        <br>
                        <span th:if="${attached_contents.isEmpty()}">
                          <div class="alert d-flex justify-content-center gold dark-blue-text" role="alert">
                            No content to display
                          </div>
                        </span>
                        <span th:unless="${attached_contents.isEmpty()}">
                          <div class="card mb-3" style="max-width: 540px;" th:each="content : ${attached_contents}">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img th:src="${content.owner.photoUrl}" class="img-fluid rounded-start" alt="...">
                                <h6 class="d-flex justify-content-center" style="margin-top: 5px;">@<span
                                    th:text="${content.owner.username}"></h6>
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title"><span th:text="${content.title}"></span></h5>
                                  <p class="card-text"><span th:text="${content.description}"></span></p>
                                  <div class="row">
                                    <p class="card-text col-md-8"><small class="text-muted">Category :
                                        <span th:text="${content.type}"></small></p>
                                    <p class="card-text col-md-4"><small class="text-muted"><span
                                          th:text="${content.viewCount}"></span> views</small></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </span>
                      </div>
                      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                        tabindex="0">
                        <br>
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                          <a role="button" th:href="@{/project_detail}">
                            <div class="col">
                              <div class="card h-100">
                                <img
                                  th:src="@{https://cdn.w600.comps.canstockphoto.com/example-stamp-typ-image_csp54929178.jpg}"
                                  class="card-img-top" alt="..." width="140" height="140">
                              </div>
                              <br>
                              <h6 class="d-flex justify-content-center"> Project 1 </h6>
                            </div>
                          </a>
                          <a role="button" href="#">
                            <div class="col">
                              <div class="card h-100">
                                <img
                                  th:src="@{https://cdn.w600.comps.canstockphoto.com/example-stamp-typ-image_csp54929178.jpg}"
                                  class="card-img-top" alt="..." width="140" height="140">
                              </div>
                              <br>
                              <h6 class="d-flex justify-content-center"> Project 2 </h6>
                            </div>
                          </a>
                          <a role="button" href="#">
                            <div class="col">
                              <div class="card h-100">
                                <img
                                  th:src="@{https://cdn.w600.comps.canstockphoto.com/example-stamp-typ-image_csp54929178.jpg}"
                                  class="card-img-top" alt="..." width="140" height="140">
                              </div>
                              <br>
                              <h6 class="d-flex justify-content-center"> Project 3 </h6>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
  </section>
  </div>
  </div>
  </div>
  </div>
  </section>
</body>
</html>