<!DOCTYPE html>
<html>

<head>
  <div th:replace="headerFragment :: headerFragment"></div>
  <title>View content | Clap</title>
  <link rel="shortcut icon" th:href="@{/img/lira_logo.png}">
</head>

<body>
  <div th:replace="navbarFragment :: navbarFragment"> </div>
  <section class="h-100 py-5 h-custom">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3 container">
            <div class="d-flex justify-content-center" style="margin-top:60px ;">
              <a class="navbar-brand" href="/"><img th:src="@{/img/clap_logo_horizontal.PNG}" width="300"
                  height="85"></a>
            </div>
            <div th:replace="filter :: filter"> </div>
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3" th:src="${artisticContentData.getOwner().getPhotoUrl()}"
                alt="avatar" width="65" height="65" />
              <div class="flex-grow-1 flex-shrink-1">
                <div>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-1">
                      @<span data-th-text="${artisticContentData.getOwner().getUsername()}"></span>
                    </p>
                  </div>
                  <p class="small mb-0">
                    <span data-th-text="${artisticContentData.getViewCount()}"></span> views
                  </p>
                </div>
              </div>
            </div>
            <br>
            <div>
              <span th:if="${isVideo}">
                <div class="d-flex justify-content-center">
                  <video>
                    <source th:src="${artisticContentData.getContentUrl()}" type="video/mp4" alt="avatar" width="100%"
                      height="100%" />
                  </video>
                </div>
              </span>
              <span th:unless="${isVideo}">
                <div class="d-flex justify-content-center">
                  <img th:src="${artisticContentData.getContentUrl()}" alt="avatar" width="100%" height="100%" />
                </div>
              </span>
            </div>
            <div style="margin-top: 8px;" class="row">
              <div class="d-flex justify-content-end col-md-12">
                <a type="button" class="btn" href="#">
                  <div class="d-flex align-items-center dark-blue-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                      class="bi bi-heart" viewBox="0 0 16 16">
                      <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                    </svg>
                  </div>
                </a>
                <div>
                  <!-- Button trigger modal -->
                  <a type="button" class="btn" href="#" data-bs-toggle="modal" data-bs-target="#chatModal">
                    <div class="d-flex align-items dark-blue-text">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                          d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                      </svg>
                    </div>
                  </a>

                  <!-- Modal -->
                  <div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content dark-blue-text" style="background-color:white">
                        <div class="modal-header">
                          <a class="navbar-brand" href="/"><img th:src="@{/img/clap_logo_horizontal.PNG}" width="150"
                              height="42"></a>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form class="px-md-2" method="POST"
                            data-th-action="@{'/owner/' + ${user_id} +'/content/'+ ${artistic_content_id} +'/comment/'}"
                            data-th-object="${comment}">
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                              <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                            </div>
                            <div class="mb-3">
                              <label for="recipient-name" class="col-form-label">Comment:</label>
                              <textarea type="text" id="text" class="form-control" th:field=*{text}
                                placeholder="Comment"></textarea>
                            </div>
                            <div class="d-flex justify-content-center">
                              <button type="submit" class="btn btn-lg mb-1 gold dark-blue-text">Add</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <!-- Button trigger modal -->
                  <a type="button" class="btn" href="#" data-bs-toggle="modal" data-bs-target="#infoModal">
                    <div class="d-flex align-items dark-blue-text">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                          d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                      </svg>
                    </div>
                  </a>

                  <!-- Modal -->
                  <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content dark-blue-text" style="background-color:white">
                        <div class="modal-header">
                          <a class="navbar-brand" href="/"><img th:src="@{/img/clap_logo_horizontal.PNG}" width="150"
                              height="42"></a>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-4">
                            <div class="row">
                              <div class="col-md-3">
                                <label for="username">Title</label>
                              </div>
                              <div class="col-md-9">
                                <p class="small mb-1"><span data-th-text="${artisticContentData.getTitle()}"></p>
                              </div>
                            </div>
                          </div>
                          <div class="mb-4">
                            <div class="row">
                              <div class="col-md-3">
                                <label for="username">Description</label>
                              </div>
                              <div class="col-md-9">
                                <p class="small mb-1"><span data-th-text="${artisticContentData.getDescription()}">
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="mb-4">
                            <div class="row">
                              <div class="col-md-3">
                                <label for="username">Category</label>
                              </div>
                              <div class="col-md-9">
                                <p class="small mb-1"><span data-th-text="${artisticContentData.getType()}"></p>
                              </div>
                            </div>
                          </div>
                          <div th:if="${contentType=='PAINTING_SCULPTURE'}">
                            <div class="mb-4">
                              <div class="row">
                                <div class="col-md-3">
                                  <label for="username">Materials</label>
                                </div>
                                <div class="col-md-9">
                                  <p class="small mb-1"><span data-th-text="${artisticContentData.getMaterials()}">
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div th:if="${contentType=='PHOTOGRAPHY'}">
                            <div class="mb-4">
                              <div class="row">
                                <div class="col-md-3">
                                  <label for="username">Camera</label>
                                </div>
                                <div class="col-md-9">
                                  <p class="small mb-1"><span data-th-text="${artisticContentData.getCamera()}">
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div th:if="${contentType=='DANCE'}">
                            <div class="mb-4">
                              <div class="row">
                                <div class="col-md-3">
                                  <label for="username">Music</label>
                                </div>
                                <div class="col-md-9">
                                  <p class="small mb-1"><span data-th-text="${artisticContentData.getMusic()}">
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div th:if="${contentType=='PAINTING_SCULPTURE'} OR ${contentType=='PHOTOGRAPHY'} ">
                            <div class="mb-4">
                              <div class="row">
                                <div class="col-md-3">
                                  <label for="username">Materials</label>
                                </div>
                                <div class="col-md-9">
                                  <p class="small mb-1"><span data-th-text="${artisticContentData.getMaterials()}">
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="mb-4">
                              <div class="row">
                                <div class="col-md-3">
                                  <label for="username">Techniques</label>
                                </div>
                                <div class="col-md-9">
                                  <p class="small mb-1"><span data-th-text="${artisticContentData.getTechniques()}">
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="mb-4">
                              <div class="row">
                                <div class="col-md-3">
                                  <label for="username">Place</label>
                                </div>
                                <div class="col-md-9">
                                  <p class="small mb-1"><span data-th-text="${artisticContentData.getPlace()}"></p>
                                </div>
                              </div>
                            </div>
                            <div class="mb-4">
                              <div class="row">
                                <div class="col-md-3">
                                  <label for="username">Size</label>
                                </div>
                                <div class="col-md-9">
                                  <p class="small mb-1"><span data-th-text="${artisticContentData.getSize()}"></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>
            <br>
            <div class="mb-4">
              <div class="row">
                <div class="col-md-3">
                  <label for="username">Title</label>
                </div>
                <div class="col-md-9">
                  <p class="small text-muted mb-1"><span data-th-text="${artisticContentData.getTitle()}"></p>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="row">
                <div class="col-md-3">
                  <label for="username">Description</label>
                </div>
                <div class="col-md-9">
                  <p class="small text-muted mb-1"><span data-th-text="${artisticContentData.getDescription()}"></p>
                </div>
              </div>
            </div>
            <div th:if="${contentType=='PAINTING_SCULPTURE'}">
              <div class="mb-4">
                <div class="row">
                  <div class="col-md-3">
                    <label for="username">Materials</label>
                  </div>
                  <div class="col-md-9">
                    <p class="small mb-1"><span data-th-text="${artisticContentData.getMaterials()}"></p>
                  </div>
                </div>
              </div>
            </div>
            <div th:if="${contentType=='PHOTOGRAPHY'}">
              <div class="mb-4">
                <div class="row">
                  <div class="col-md-3">
                    <label for="camera">Camera</label>
                  </div>
                  <div class="col-md-9">
                    <p id="camera" class="small text-muted  mb-1"><span
                        data-th-text="${artisticContentData.getCamera()}"></p>
                  </div>
                </div>
              </div>
            </div>
            <div th:if="${contentType=='DANCE'}">
              <div class="mb-4">
                <div class="row">
                  <div class="col-md-3">
                    <label for="music">Music</label>
                  </div>
                  <div class="col-md-9">
                    <p id="music" class="small text-muted  mb-1"><span data-th-text="${artisticContentData.getMusic()}">
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="row">
                <div class="col-md-3">
                  <label for="username">Category</label>
                </div>
                <div class="col-md-9">
                  <p class="small text-muted mb-1"><span data-th-text="${artisticContentData.getType()}"></p>
                </div>
              </div>
            </div>
            <hr style="height:2px;border-width:0;" class="grey">
            <div>
              <p class="small text-muted mb-1"><span data-th-text="${existingComments.size()}"></span> comments</p>
            </div>
            <br>
            <div th:each="comment : ${existingComments}">
              <br>
              <div class="d-flex flex-start">
                <img class="rounded-circle shadow-1-strong me-3" th:src="${comment.getUser().getPhotoUrl()}"
                  alt="avatar" width="65" height="65" />
                <div class="flex-grow-1 flex-shrink-1">
                  <div>
                    <div class="d-flex justify-content-between align-items-center">
                      <p class="mb-1">
                        @<span data-th-text="${comment.getUser().getUsername()}"></span><span
                          class="small text-muted mb-1">- 2 hours ago</span>
                      </p>
                      <!-- Button trigger modal -->
                      <a type="button" class="btn" href="#" data-bs-toggle="modal" data-bs-target="#chatResponseModal">
                        <div class="d-flex align-items dark-blue-text">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-reply" viewBox="0 0 16 16">
                            <path
                              d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z" />
                          </svg>
                        </div>
                      </a>

                      <!-- Modal -->
                      <div class="modal fade" id="chatResponseModal" tabindex="-1"
                        aria-labelledby="chatResponseModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content dark-blue-text" style="background-color:white">
                            <div class="modal-header">
                              <a class="navbar-brand" href="/"><img th:src="@{/img/clap_logo_horizontal.PNG}"
                                  width="150" height="42"></a>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form class="px-md-2" method="POST"
                                data-th-action="@{'/owner/' + ${user_id} +'/content/'+ ${artistic_content_id} +'/comment/'+ ${comment.getId()}+'/comment_response/'}"
                                data-th-object="${comment}">
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                                  <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                                </div>
                                <div class="mb-3">
                                  <label for="recipient-name" class="col-form-label">Comment response:</label>
                                  <textarea type="text" id="text" class="form-control" th:field=*{text}
                                    placeholder="Comment response"></textarea>
                                </div>
                                <div class="d-flex justify-content-center">
                                  <button type="submit" class="btn btn-lg mb-1 gold dark-blue-text">Add</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p class="small mb-0">
                      <span data-th-text="${comment.getText()}"></span>
                    </p>
                  </div>
                  <div th:each="commentResponse : ${comment.getCommentResponses()}">
                    <div class="d-flex flex-start mt-4" style="margin-bottom: 15px;">
                      <a class="me-3" href="#">
                        <img class="rounded-circle shadow-1-strong"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp" alt="avatar" width="50"
                          height="50" />
                      </a>
                      <div class="flex-grow-1 flex-shrink-1">
                        <div>
                          <div class="d-flex justify-content-between align-items-center">
                            <p class="mb-1">
                              @<span data-th-text="${commentResponse.getUser().getUsername()}"><span
                                  class="small text-muted mb-1">- 3 hours ago</span>
                            </p>
                          </div>
                          <p class="small mb-0">
                            <span data-th-text="${commentResponse.getUser().getDescription()}">
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </section>
</body>

</html>